user_uuid = "b3b3c3d1-323d-4bf4-9ddb-00d852e1d4a6"
bucket_name="pm8c2z3qmkuu6jv2hzk5zq0y24v89n9h"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=3