user_uuid = "b3b3c3d1-323d-4bf4-9ddb-00d852e1d4a6"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1
